* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Barlow', sans-serif;
  }
.logo img{
    max-width: 200px;
    height: auto;
}
.section1{
    padding-bottom: 50px !important;
}
section{
    padding-top: 15px;
    padding-bottom: 15px;
}

.container{
    max-width: 1200px !important;   
}
.section3 .text{
    position: relative;
    top: 25px;
    width: 100px;
    height: 40px;
    background-color: aliceblue;
    color: #000000;
    box-sizing: border-box;
    border-radius: 5px;

}
.section3 .text p{
    padding-top: 5px;
    font-weight: 500;
    font-size: 15px;
}

.section1, .section3{
    background-color: #B39C00;
}
.section1 h2, .section1 h4{
    color: rgb(0, 0, 0);

}
footer{
    background-color: black;
    color: aliceblue;
    padding-top: 19px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 100px;
}
footer .container{
    width: 1500px !important;
}
.section3 img{
    box-sizing: border-box;
    border: 15px solid aliceblue;
    box-shadow: inset;
    border-radius: 3px;
}
.section3 p{
    padding-top: 15px;
    font-weight: 500;
}

.section2 h2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.section2 h4{
    padding-top: 0px;
    padding-bottom: 10px;
}
.section2 p{
    padding-top: 0px;
    padding-bottom: 10px;
}
#timer {
    font-size: 3em;
    font-weight: 90;
    color: white;
    width: 1160px;
    color: white;

    
}

#timer div {
    display: inline-block;
    min-width:60px;
    padding-left: 30px;
    padding-right: 30px;
    background: #000000;
    border-radius: 10px;
    border: 2px solid #000000;
    margin: 5px;
}

#timer div span {
    color: #ffffff;
    display: block;
    margin-top: -5px;
    font-size: .35em;
    font-weight: 400;
}


